body {
  width: 100%;
  margin:0;
  padding:0;
}

#side_wrapper ul {
  list-style-type: none;
  background-color: skyblue;
  width:20%;
  height:100%;
  float:left;
  position: fixed;
  margin:0;
  padding:0;
}

#side_wrapper a {
  display: block;
  background-color:rgb(77, 183, 224);
  color:white;
  padding: 10%;
  font-family: 'Amatic SC';
  font-size: 30px;
}

#main_wrapper {
  margin: 0;
  margin-left:20%;
  padding: 1%;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: 'Concert One';
  font-size: 40px; 
  font-weight: bolder;
  text-transform: uppercase;
}

h1 img{
  position: relative;
  top:20px;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside {
  float: right;
  width: 30%;
  background-color: rgb(86, 187, 86);
  padding: 1%;
}

aside img {
  display:block;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

aside h2 {
  font-family: 'Concert One';
  font-size: 35px;
}

section p {
  font-family: 'Schoolbell';

}

#banner_image {
  background: url("img/machupicchu.jpg") no-repeat;
  background-size: cover;
  background-position:center;
  height: 315px;
}

#banner_text {
  position:relative;
  color:white;
  font-style: italic;
  font-size: 30px;
  top: 85%;
  margin-left: 1%;
}

#MyGamesInline div {
  position:relative;
}

#MyGamesInline div .caption{
  position: absolute;
  opacity:0;
  height:95%;
  width:100%;
  top: 0;
  left: 0;
  padding: 2% 0;
  color: black;
  background:lime;
  text-align:center;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#MyGamesInline div:hover .caption {
  opacity: 0.7;
}

#MyGamesInline {
  display:flex;
  flex-wrap: wrap;
}

#MyGamesInline div {
  margin: 0.5%;
}

#MyTrips, #MyGames, #MyMusic {
  display: inline-block;
  vertical-align: top;
}

#MyTrips {
  width:25%;
}

#MyGames {
  width:37%;
}

#MyMusic {
  width:34%;
}

footer li {
  padding: 3%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer h3 {
  font-family: 'Bungee Inline';
}